html {
  height: 100%;
}

body {
  text-align: center;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #f3e8de;
  padding: 15px 10px 10px;
  width: 70%;
  min-width: 700px;
  margin: 0 auto;
  text-align: left;
}

h1 {
  text-align: left;
  font-family: 'Caveat Brush', cursive;
  font-size: 2rem;
  text-decoration: underline;
  font-weight: lighter;
  position: relative;
  bottom: 0.7rem;
  left: -1rem;
  color: #222222;
  display: inline;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  margin-top: 30px;
}

table {
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
}

tr {
  line-height: 0px;
  font-size: 0;
}

.stone-btn {
  border-width: 2px;
  border-color: dimgray;
  padding: 7.5px;
  background-color: #F3B24B;
  border-radius: 5px;
  margin: 5px;
  position: relative;
}

.stone-btn:hover {
  background-color: #d09940;
}

.stone-btn.selected {
  background-color: #d09940;
}

.stone-btn-img {
  width: 30px;
  height: 30px;
}

.edit-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  bottom: 2px;
}

.sgf-btn {
  background-color: #f3e8de;
  font-family: 'Patua One', cursive;
  font-size: 1rem;
  font-style: italic;
  border-width: 2px;
  border-color: dimgray;
}

.sgf-btn:hover {
  background-color: #e0d6cc;
}

.board {
  background-image: url("../images/board.png");
  height: 660px;
  width: 660px;
  margin: 10px auto;
}

.board-positions {
  height: 632.7px;
  width: 632.7px;
  padding: 14px;
  text-align: left;
}

.board-pos {
  height: 33.3px;
  width: 33.3px;
  padding: 0;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
}

.stone {
  height: 30px;
  width: 30px;
}

.start-btn {
  border-width: 2px;
  border-color: dimgray;
  margin: 13px;
  font-family: 'Patua One', cursive;
  font-size: 40px;
  font-style: italic;
  width: 30%;
  padding: 10px;
  background-color: #F3B24B;
  border-radius: 5px;
}

.start-btn:hover {
  background-color: #d09940;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #555555;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.top-div {
    margin: 0 30px 30px;
}

.arrow {
  width: 3rem;
  position: absolute;
  top: 50%;
}

.arrow-key > button {
  height: 3rem;
  width: 3rem;
  background-size: cover;
  border-radius: 5px;
}

.node > img {
  height: 30px;
  width: 30px;
}

.selected-node {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #222222;
}

#logo-div {
  text-align: left;
  padding-left: 5%;
  width: 50%;
  display: inline-block;
  position: relative;
  left: 0;
}

#logo-div > a {
  text-decoration: none;
}

#logo-icon {
  height: 2.7rem;
}

#nav-links-div {
  position: relative;
  width: 40%;
  display: inline-block;
  text-align: right;
}

#nav-links-div > a {
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
  position: relative;
  bottom: 0.5rem;
  margin: auto 0 auto 30px;
  color: #222222;
  font-weight: bold;
}

#content-div {
  background-color: rgba(183, 161, 142, 0.95);
  width: 70%;
  min-width: 700px;
  margin: 0 auto;
  padding: 30px 10px;
  flex-shrink: 0;
  flex-grow: 1;
}

#from-sgf-btn {
  width: 100px;
}

#upload-sgf {
  display: none;
}

#board-top-div {
  text-align: left;
}

#tree-top-div {
  text-align: right;
}

#return-btn > img {
  height: 15px;
}

#to-sgf-btn {
  position: static;
  left: 0;
}

#right-arrow {
  left: 0;
}

#left-arrow {
  right: 0;
}

#split-board {
  position: relative;
  overflow-x: auto;
}

#split-tree {
  position: relative;
  overflow-x: auto;
}

#dive-btn {
  background-image: url("../images/spacebar.png");
  background-color: #e9e9ed;
  background-size: cover;
  width: 20rem;
  height: 5rem;
}

#dive-btn:hover {
  background-color: #d0d0d7;
}

#arrow-key-up {
  background-image: url("../images/arrow-key-up.png");
}

#arrow-key-left {
  background-image: url("../images/arrow-key-left.png");
}

#arrow-key-down {
  background-image: url("../images/arrow-key-down.png");
}

#arrow-key-right {
  background-image: url("../images/arrow-key-right.png");
}

#tree-div {
  height: 600px;
  overflow-y: auto;
}
