{% extends "base.html" %}
{% block content %}
<div id="about-div">
  <h3>The project</h3>
  <p>
    TsumegoDive is the product of a bachelor's degree final year project by UPM
    (Universidad Politécnica de Madrid) student Nina Aranda. All code developed
    for the project is available at
    <a href="https://github.com/niaranda/tsumego-dive" target="_blank">GitHub</a>
    under a GNU General Public License, along with more information about the
    authors.
  </p>
  <p>
    This project aims to offer a new kind of perspective on tsumego solving, by
    helping the user explore the tsumego at their own pace in a fully
    interactive way. TsumegoDive gives recommendations based on a neural network
    which has been trained by analyzing over 16000 tsumegos.
  </p>

  <br>
  <br>

  <h3>How to use it</h3>
  <p>
    You can insert your tsumego by using the edit buttons or uploading an SGF
    file. Clicking on a placed stone again while in edit mode will remove it
    from the board. Once you are done, you will be required to choose the color
    of the first move.
  </p>
  <p>
    Clicking <em>Start</em> will allow you to start looking for the solution.
    A game tree will appear on the screen which is automatically filled as you explore
    and can be used to navigate through your search by using your keyboard's
    arrow keys or the corresponding buttons. You can also mark movements as
    correct or wrong to guide your search. To remove correct or wrong markings you may also
    mark a movement as unknown through the question mark button.
  </p>
  <p>
    When in doubt, use the <em>Dive</em> button or your keyboard's space bar to
    receive a recommendation. You can receive more recommendations by using this
    function repetitively.
  </p>
  <p>
    If you want to save your search at any moment, use the <em>Save as sgf</em>
    button to download the game tree in SGF format.
  </p>

  <br>
  <br>
  <br>
  <p>
    Background image by Jonathan Reichel available at
    <a target="_blank" href="https://pixabay.com/ja/photos/%E8%A1%8C%E3%81%8F-%E3%83%9C%E3%83%BC%E3%83%89-%E3%82%B2%E3%83%BC%E3%83%A0-3339748/">Pixabay</a>
     under a <a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 License</a>.
  </p>
</div>
{% endblock %}
