{% extends "base.html" %}
{% block content %}
<div id="about-div">
  <h3>About...</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor vel orci ut blandit. Nam elementum, est nec sagittis blandit, nulla nunc rhoncus diam, faucibus vestibulum mauris ligula at lectus. Vivamus vel felis aliquam, scelerisque justo vel, vehicula velit. Donec ac vestibulum lorem. Sed ullamcorper eu velit vel dapibus. Proin venenatis nisl sed nisl tempus fermentum. Donec at varius purus. Donec at dui vulputate, eleifend lorem vitae, luctus erat. Suspendisse sit amet faucibus augue. Nullam euismod mauris eget nibh ullamcorper, id pulvinar sapien elementum. Cras at libero lectus. Integer vel dignissim libero.
  </p>

  <p>
    Nulla eget augue sit amet est dignissim blandit et at tortor. In facilisis elit nec bibendum posuere. Phasellus viverra egestas metus in tempus. Nullam cursus neque vel arcu tempor, at viverra orci auctor. Sed consequat, magna et efficitur porttitor, sem nunc elementum purus, eget lobortis metus mauris a lorem. Pellentesque elit lectus, tristique in malesuada ac, eleifend et lorem. Phasellus volutpat, risus convallis consectetur scelerisque, felis leo bibendum mauris, sed auctor ligula urna et ipsum. In arcu diam, consectetur dignissim cursus quis, rhoncus quis nisi. Maecenas pulvinar felis non tortor vestibulum, sed pretium sem sodales.
  </p>
</div>
{% endblock %}
