<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TsumegoDive</title>
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Patua+One&family=Merriweather:wght@700&family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <div id="logo-div">
      <a href="/">
        <img id="logo-icon" src="static/images/favicon.ico" alt="">
        <h1>&nbsp;&nbsp;TsumegoDive&nbsp;</h1>
      </a>
    </div>
    <div id="nav-links-div">
      <a href="/about">About</a>
    </div>
  </nav>
  <div id="content-div">
    {% block content %}{% endblock %}
  </div>
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% endblock %}
</body>

</html>
